<h2>Cadastrar Curso</h2>
<!-- Exibe uma mensagem de erro caso exista-->
{% if erro %}
<div class="alert alert-danger">{{ erro }}</div>
{% endif %}

<form method="post">
  <!-- Formulario para cadastro de curso via post-->
  Código: <input name="codigo" /><br /><br />
  <!-- Recebe o codigo -->
  Nome: <input name="nome" /><br /><br />
  <!-- Recebe o nome -->
  Carga horária: <input type="number" name="ch" /><br /><br />
  <!-- Recebe a carga horária -->

  <!-- Pré-requisitos -->
  <label>Pré-requisitos:</label>
  <select name="pre_requisitos" multiple size="5">
    <!--Percorre a lista de cursos cadastrados e exibe código + nome-->
    {% for c in cursos %}
    <option value="{{ c.codigo }}">{{ c.codigo }} - {{ c.nome }}</option>
    {% endfor %}
  </select>

  <!-- Mensagem para selecionar cursos  -->
  <p><small>Segure CTRL para selecionar mais de um.</small></p>

  <!-- Botão -->
  <button type="submit">Salvar</button>
</form>
