<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Cursos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.css') }}"
    />
  </head>

  <body class="bg-dark text-white">
    <div class="container mt-5">
      <h2 class="mb-4 text-center">Cursos</h2>

      <div class="card shadow-lg text-dark">
        <div class="card-body p-0">
          <table
            class="table table-hover table-striped table-bordered text-center mb-0"
          >
            <thead class="table-dark">
              <tr>
                <!-- Cria cabeçalho de nome, código e carga horaria-->
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">C.H</th>
                <th scope="col">Pré-requisitos</th>
              </tr>
            </thead>
            <tbody>
              {% for c in cursos %}
              <!-- Roda um laço para percorrer a lista de cursos-->
              <tr>
                <th scope="row">{{ c.codigo }}</th>
                <td>{{ c.nome }}</td>
                <td>{{ c.carga_horaria }}</td>
                <td>
                  <!-- Exibe a tabela com pré requisitos formatados caso não tenha será Nenhum-->
                  {% if c.pre_requisitos_formatado %} {{
                  c.pre_requisitos_formatado | join(', ') }} {% else %} Nenhum
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <br />

      <div class="text-center">
        <!-- Cria um link para pagina de cadastro de curso-->
        <a href="/cursos/cadastrar_curso" class="btn btn-success btn-lg"
          >Cadastrar novo curso</a
        >
      </div>
    </div>
  </body>
</html>
