<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gerenciador Acadêmico</title>
  </head>
  <body>
    <h1>Gerenciador Acadêmico — Sistema</h1>

    <ul>
      <li><a href="/cursos">Cursos</a></li>
      <!-- Redireciona para cursos-->
      <li><a href="/alunos">Alunos</a></li>
      <!-- Redireciona para alunos-->
      <li><a href="/turmas">Turmas</a></li>
      <!-- Redireciona para turmas-->
      <li><a href="/matriculas">Matrículas</a></li>
      <!-- Redireciona para matriculas-->
    </ul>
  </body>
</html>
