{% extends "base.html" %} {% block title %}Início - Gerenciador Acadêmico{%
endblock %} {% block content %}
<!-- Define a cor do fundo, centraliza e o tamanho do site na janela-->
<div
  class="d-flex flex-column justify-content-center align-items-center"
  style="min-height: 80vh"
>
  <h1 class="mb-5">Gerenciador Acadêmico — Sistema</h1>

  <!-- Redireciona para cursos-->
  <div class="row justify-content-center w-100">
    <div class="col-md-3 mb-3">
      <a href="/cursos" class="btn btn-primary w-100 p-3 shadow-sm"> Cursos </a>
    </div>

    <!-- Redireciona para alunos-->
    <div class="col-md-3 mb-3">
      <a href="/alunos" class="btn btn-success w-100 p-3 shadow-sm"> Alunos </a>
    </div>

    <!-- Redireciona para alunos-->
    <div class="col-md-3 mb-3">
      <a href="/turmas" class="btn btn-warning text-white w-100 p-3 shadow-sm">
        Turmas
      </a>
    </div>

    <!-- Redireciona para matriculas-->
    <div class="col-md-3 mb-3">
      <a href="/matriculas" class="btn btn-info text-white w-100 p-3 shadow-sm">
        Matrículas
      </a>
    </div>
  </div>
</div>
{% endblock %}
